---
swagger: "2.0"
info:
  description: "TODO: Add a description"
  version: "1.0"
  title: "Tesla Model S JSON API"
host: "owner-api.teslamotors.com"
basePath: "/"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /oauth/token:
    post:
      tags:
      - "Authentication"
      summary: "Get an Access Token"
      description: "Performs the login. Takes in an plain text email and password,\
        \ matching the owner's login information for [https://my.teslamotors.com/user/login](https://my.teslamotors.com/user/login).\n\
        Returns a `access_token` which is passed along as a header with all future\
        \ requests to authenticate the user.\nYou must provide the `Authorization:\
        \ Bearer {access_token}` header in all other requests.\nThe current client\
        \ ID and secret are [available here](http://pastebin.com/YiLPDggh)"
      operationId: "CreateOauthToken"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CreateAccessTokenRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CreateAccessTokenResponse"
  /api/1/vehicles:
    get:
      tags:
      - "Vehicles"
      summary: "List all Vehicles"
      description: "Retrieve a list of your owned vehicles (includes vehicles not\
        \ yet shipped!)"
      operationId: "GetVehicles"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GetVehiclesResponse"
  /api/1/vehicles/{vehicle_id}:
    get:
      tags:
      - "Vehicles"
      summary: "Retrieve a vehicle"
      description: "Retrieve a specific vehicle"
      operationId: "GetVehicle"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          examples:
            application/json:
              response:
                id: 321
                option_codes: "MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013"
                user_id: 123
                vehicle_id: 1234567890
                vin: "5YJSA1CN5CFP01657"
                tokens:
                - "x"
                - "x"
                state: "online"
          schema:
            $ref: "#/definitions/VehicleResponse"
  /api/1/vehicles/{vehicle_id}/mobile_enabled:
    get:
      tags:
      - "Vehicles"
      summary: "Mobile Access"
      description: "Determines if mobile access to the vehicle is enabled."
      operationId: "GetVehicleMobileEnabled"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/MobileAccessResponse"
  /api/1/vehicles/{vehicle_id}/data_request/charge_state:
    get:
      tags:
      - "Vehicles"
      summary: "Charge State"
      description: "Returns the state of charge in the battery."
      operationId: "GetVehicleChargeState"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ChargeStateResponse"
  /api/1/vehicles/{vehicle_id}/data_request/climate_state:
    get:
      tags:
      - "Vehicles"
      summary: "Climate Settings"
      description: "Returns the current temperature and climate control state."
      operationId: "GetVehicleClimateState"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ClimateSettingsResponse"
  /api/1/vehicles/{vehicle_id}/data_request/drive_state:
    get:
      tags:
      - "Vehicles"
      summary: "Driving and Position"
      description: "Returns the driving and position state of the vehicle."
      operationId: "GetVehicleDriveState"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DriveStateResponse"
  /api/1/vehicles/{vehicle_id}/data_request/gui_settings:
    get:
      tags:
      - "Vehicles"
      summary: "GUI Settings"
      description: "Returns various information about the GUI settings of the car,\
        \ such as unit format and range display."
      operationId: "GetVehilceGuiSettings"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GuistateResponse"
  /api/1/vehicles/{vehicle_id}/data_request/vehicle_state:
    get:
      tags:
      - "Vehicles"
      summary: "Vehicle State"
      description: "Returns the vehicle's physical state, such as which doors are\
        \ open."
      operationId: "GetVehicleState"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VehicleStateResponse"
  /api/1/vehicles/{vehicle_id}/data_request/vehicle_config:
    get:
      tags:
      - "Vehicles"
      summary: "Vehicle Config"
      description: "Returns the vehicle's configuration"
      operationId: "GetVehicleConfig"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VehicleConfigResponse"
  /api/1/vehicles/{vehicle_id}/data:
    get:
      tags:
      - "Vehicles"
      summary: "Vehicle Data"
      description: "Returns all vehicle ∂ata, potentially cached"
      operationId: "GetVehicleData"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VehicleDataResponse"
  /api/1/vehicles/{vehicle_id}/wake_up:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Wake Up Car"
      description: "Wakes up the car from the sleep state. Necessary to get some data\
        \ from the car."
      operationId: "WakeUpVehicle"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/WakeUpResponse"
  /api/1/vehicles/{vehicle_id}/command/wake_up:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Wake Up Car"
      description: "Wakes up the car from the sleep state. Necessary to get some data\
        \ from the car."
      operationId: "WakeUpVehicleCommand"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/set_valet_mode:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Valet Mode"
      description: "Sets valet mode on or off with a PIN to disable it from within\
        \ the car. Reuses last PIN from previous valet session.\nValet Mode limits\
        \ the car's top speed to 70MPH and 80kW of acceleration power. It also disables\
        \ Homelink, Bluetooth and\nWifi settings, and the ability to disable mobile\
        \ access to the car. It also hides your favorites, home, and work\nlocations\
        \ in navigation."
      operationId: "ToggleValetMode"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SetValetRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/reset_valet_pin:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Reset Valet PIN"
      description: "Resets the PIN set for valet mode, if set."
      operationId: "ResetValetPin"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/charge_port_door_open:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Open Charge Port"
      description: "Opens and unlocks the charge port."
      operationId: "OpenChargePort"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/charge_port_door_close:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Close Charge Port"
      description: "Closes the charge port."
      operationId: "CloseChargePort"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/charge_standard:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Charge Limit to Standard"
      description: "Set the charge mode to standard (90% under the new percentage\
        \ system introduced in 4.5)."
      operationId: "SendStandardChargeLimit"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/charge_max_range:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Charge Limit to Max Range"
      description: "Set the charge mode to max range (100% under the new percentage\
        \ system introduced in 4.5). Use sparingly!"
      operationId: "SetMaxChargeLimit"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/set_charge_limit:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Charge Limit"
      description: "Set the charge limit to a custom percentage."
      operationId: "SetChargeLimit"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/SetChargeLimitRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/charge_start:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Start Charging"
      description: "Start charging. Must be plugged in, have power available, and\
        \ not have reached your charge limit."
      operationId: "StartCharge"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/charge_stop:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Stop Charging"
      description: "Stop charging. Must already be charging."
      operationId: "StopCharge"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/nearby_charging_sites:
    get:
      tags:
      - "Vehicles"
      summary: "Get Nearby Chargers"
      description: "Get a list of nearby charging sites"
      operationId: "NearbyChargers"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NearbyChargerResponse"
  /api/1/vehicles/{vehicle_id}/command/flash_lights:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Flash Lights"
      description: "Flash the lights once."
      operationId: "FlashLights"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/honk_horn:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Honk Horn"
      description: "Honk the horn once."
      operationId: "HonkHorn"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/door_unlock:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Unlock Doors"
      description: "Unlock the car's doors."
      operationId: "UnlockDoors"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/door_lock:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Lock Doors"
      description: "Lock the car's doors."
      operationId: "LockDoors"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/set_temps:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Temperature"
      description: "Set the temperature target for the HVAC system."
      operationId: "SetTemperatures"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/SetTempsRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/auto_conditioning_start:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Start HVAC System"
      description: "Start the climate control system. Will cool or heat automatically,\
        \ depending on set temperature."
      operationId: "StartHVAC"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/auto_conditioning_stop:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Stop HVAC System"
      description: "Stop the climate control system."
      operationId: "StopHVAC"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/remote_seat_heater_request:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Seat Heater Level"
      description: "Set the heating level of a seat heater"
      operationId: "RemoteSeatHeaterRequest"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/RemoteSeatHeaterRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/remote_steering_wheel_heater_request:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Toggle Steering Wheel Heater"
      description: "Toggle the steering wheel heater"
      operationId: "RemoteSteeringWheelHeaterRequest"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/RemoteSteeringWheelHeaterRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/sun_roof_control:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Move Pano Roof"
      description: "Controls the car's panoramic roof, if installed."
      operationId: "OpenSunroof"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MovePanoRoofRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/remote_start_drive:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Remote Start"
      description: "Start the car for keyless driving. Must start driving within 2\
        \ minutes of issuing this request."
      operationId: "RemoteStart"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/RemoteStartRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/actuate_trunk:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Open Trunk/Frunk"
      description: "Open the trunk or frunk. Currently inoperable."
      operationId: "OpenTrunk"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/OpenTrunkRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          examples:
            application/json:
              response:
                result: true
                reason: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/speed_limit_activate:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Activate Speed Limit"
      description: "Activates Speed Limit"
      operationId: "ActivateSpeedLimit"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpeedLimitRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/speed_limit_deactivate:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Deactivate Speed Limit"
      description: "Deactivates Speed Limit"
      operationId: "DeactivateSpeedLimit"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpeedLimitRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/speed_limit_set_limit:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Speed Limit"
      description: "Sets Speed Limit"
      operationId: "SetSpeedLimit"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SetSpeedLimitRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/speed_limit_clear_pin:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Clear Speed Limit Pin"
      description: "Clears Speed Limit Pin"
      operationId: "ClearSpeedLimitPin"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpeedLimitRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/navigation_request:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Send Navigation Request"
      description: "Sends Navigation Request to Vehicle"
      operationId: "NavigationRequest"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/NavigationRequestRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/share:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Share data to Vehicle"
      description: "Sends Data to Vehicle (v10 only)"
      operationId: "SharetoVehicle"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ShareRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_toggle_playback:
    post:
      tags:
      - "Media Control"
      summary: "Pause/Play Media"
      description: "Pause/Play Media"
      operationId: "MediaTogglePlayback"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_next_track:
    post:
      tags:
      - "Media Control"
      summary: "Next Track"
      description: "Next Track"
      operationId: "MediaNextTrack"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_prev_track:
    post:
      tags:
      - "Media Control"
      summary: "Previous Track"
      description: "Previous Track"
      operationId: "MediaPrevTrack"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_next_fav:
    post:
      tags:
      - "Media Control"
      summary: "Next Favorite"
      description: "Next Favorite"
      operationId: "MediaNextFavorite"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_prev_fav:
    post:
      tags:
      - "Media Control"
      summary: "Previous Favorite"
      description: "Previous Favorite"
      operationId: "MediaPrevFavorite"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_volume_up:
    post:
      tags:
      - "Media Control"
      summary: "Volume Up"
      description: "Volume Up"
      operationId: "MediaVolumeUp"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/media_volume_down:
    post:
      tags:
      - "Media Control"
      summary: "Volume Down"
      description: "Volume Down"
      operationId: "MediaVolumeDown"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/schedule_software_update:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Start Software Update"
      description: "Start Software Update"
      operationId: "StartSoftwareUpdate"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/cancel_software_update:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Cancel Software Update"
      description: "Cancel Software Update"
      operationId: "CancelSoftwareUpdate"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/set_sentry_mode:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Toggle Sentry Mode"
      description: "Toggle Sentry Mode"
      operationId: "SetSentryMode"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SentryModeRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/set_preconditioning_max:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Set Max Defrost"
      description: "Set Max Defrost"
      operationId: "SetMaxDefrost"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MaxDefrostRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/window_control:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Window Control"
      description: "Window Control"
      operationId: "WindowControl"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/WindowControlRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
  /api/1/vehicles/{vehicle_id}/command/trigger_homelink:
    post:
      tags:
      - "Vehicle Commands"
      summary: "Trigger Homelink"
      description: "Trigger Homelink"
      operationId: "TriggerHomelink"
      produces:
      - "application/json"
      parameters:
      - name: "vehicle_id"
        in: "path"
        description: "The id of the Vehicle."
        required: true
        type: "string"
        x-exportParamName: "VehicleId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/TriggerHomelinkRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CommandResponse"
definitions:
  CreateAccessTokenRequest:
    type: "object"
    properties:
      grant_type:
        type: "string"
        example: "password"
        description: "The type of oAuth grant. \"password\" or \"refresh_token\""
      client_id:
        type: "string"
        example: "abc"
        description: "The oAuth client ID"
      client_secret:
        type: "string"
        example: "123"
        description: "The oAuth client secret"
      email:
        type: "string"
        example: "elon@teslamotors.com"
        description: "The email for my.teslamotors.com. Only used with \"password\"\
          \ grant type."
      password:
        type: "string"
        example: "edisonsux"
        description: "The password for my.teslamotors.com. Only used with \"password\"\
          \ grant type."
      refresh_token:
        type: "string"
        example: "0f0f0f0f0f0ff0f0f0f0f0f0f0f0f0f0f0f0f0f0f0ff0f0f0f0f0f0f0f0f0f"
        description: "A refresh token from a previous CreateAccessTokenResponse"
    title: "Get an Access Token request"
    example:
      refresh_token: "0f0f0f0f0f0ff0f0f0f0f0f0f0f0f0f0f0f0f0f0f0ff0f0f0f0f0f0f0f0f0f"
      password: "edisonsux"
      grant_type: "password"
      client_secret: "123"
      client_id: "abc"
      email: "elon@teslamotors.com"
  CreateAccessTokenResponse:
    type: "object"
    required:
    - "access_token"
    - "created_at"
    - "expires_in"
    - "refresh_token"
    - "token_type"
    properties:
      access_token:
        type: "string"
        example: "abc123"
        description: ""
      token_type:
        type: "string"
        example: "bearer"
        description: ""
      expires_in:
        type: "integer"
        format: "int32"
        example: 7776000
        description: ""
      created_at:
        type: "integer"
        format: "int32"
        example: 1457385291
        description: ""
      refresh_token:
        type: "string"
        example: "cba321"
        description: ""
    title: "Get an Access Token response"
    example:
      access_token: "abc123"
      token_type: "bearer"
      expires_in: 7776000
      created_at: 1457385291
      refresh_token: "cba321"
  SetValetRequest:
    type: "object"
    properties:
      "on":
        type: "boolean"
        description: "Whether to enable or disable valet mode."
      password:
        type: "string"
        description: "(optional) A 4 digit PIN code to unlock the car."
    title: "Set Valet Mode"
    example:
      "on": true
      password: 1234
  SpeedLimitRequest:
    type: "object"
    properties:
      pin:
        type: "string"
        description: "The current, or if activating, new, speed limit PIN"
    title: "Speed Limit Request"
    example:
      pin: 1234
  SetSpeedLimitRequest:
    type: "object"
    properties:
      limit_mph:
        type: "integer"
        format: "int32"
        description: "The speed limit to set, in Miles per Hour"
    title: "Set Speed Limit Request"
    example:
      limit_mph: 75
  MovePanoRoofRequest:
    type: "object"
    properties:
      state:
        type: "string"
        description: "The desired state of the panoramic roof. The approximate percent\
          \ open values for each state are `open` = 100%, `close` = 0%, `comfort`\
          \ = 80%, and `vent` = ~15%"
        enum:
        - "open"
        - "close"
        - "comfort"
        - "vent"
        - "move"
        x-enum-elements:
        - name: "open"
          description: ""
        - name: "close"
          description: ""
        - name: "comfort"
          description: ""
        - name: "vent"
          description: ""
        - name: "move"
          description: ""
      percent:
        type: "number"
        format: "double"
        description: "The percentage to move the roof to."
    title: "Move Panoramic Roof"
    example:
      state: "vent"
  RemoteSeatHeaterRequest:
    type: "object"
    properties:
      heater:
        type: "integer"
        format: "int32"
        description: "The desired seat to adjust the heater for.  SeatHeaterFrontLeft:\
          \ 0, SeatHeaterFrontRight: 1, SeatHeaterRearLeft: 2, SeatHeaterRearLeftBack:\
          \ 3, SeatHeaterRearCenter: 4, SeatHeaterRearRight: 5, SeatHeaterRearRightBack:\
          \ 6, SeatHeater3rdRowLeft: 7, SeatHeater3rdRowRight: 8"
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
      level:
        type: "integer"
        format: "int32"
        description: "Seat heater level"
        enum:
        - 1
        - 2
        - 3
    title: "Remote Seat Heater"
    example:
      heater: 0
      level: 2
  RemoteSteeringWheelHeaterRequest:
    type: "object"
    properties:
      "on":
        type: "boolean"
    title: "Remote Steering Wheel Heater"
    example:
      "on": true
  SetTempsRequest:
    type: "object"
    properties:
      driver_temp:
        type: "number"
        format: "double"
        description: "The desired temperature on the driver's side in celcius."
      passenger_temp:
        type: "number"
        format: "double"
        description: "The desired temperature on the passenger's side in celcius."
    title: "Set SetTemperatures"
    example:
      driver_temp: 70.0
      passenger_temp: 72.0
  SetChargeLimitRequest:
    type: "object"
    properties:
      percent:
        type: "integer"
        format: "int32"
        description: "Percentage to set Charge Limit to."
    title: "Set Charge Limit"
    example:
      percent: 80
  RemoteStartRequest:
    type: "object"
    properties:
      password:
        type: "string"
        description: "The password to the authenticated my.teslamotors.com account."
    title: "Remote Start"
    example:
      password: "hunter2"
  OpenTrunkRequest:
    type: "object"
    properties:
      which_trunk:
        type: "string"
        description: "The trunk to open. `front` or `rear"
    example:
      which_trunk: "which_trunk"
  NavigationRequestRequest:
    type: "object"
    properties:
      type:
        type: "string"
        example: "share_ext_content_raw"
        description: "Do not change"
        default: "share_ext_content_raw"
      value:
        $ref: "#/definitions/NavigationRequestRequest_value"
      locale:
        type: "string"
        example: "en-us"
        description: "Do not change"
        default: "en-us"
      timestamp_ms:
        type: "string"
        description: "Unix timestamp"
    title: "Navigation Request request"
    example:
      timestamp_ms: "timestamp_ms"
      type: "share_ext_content_raw"
      locale: "en-us"
      value:
        android.intent.extra.TEXT: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
  ShareRequest:
    type: "object"
    properties:
      type:
        type: "string"
        example: "share_ext_content_raw"
        description: "Change to \"share_dest_content_coords\" if using lat/long"
        default: "share_ext_content_raw"
      value:
        $ref: "#/definitions/ShareRequest_value"
      locale:
        type: "string"
        example: "en-US"
        description: "Locale this request should be treated as"
      timestamp:
        type: "number"
        example: 1.574041714569E12
        description: "UNIX timestamp indicating when this request was sent"
    title: "Share request (v10 only)"
    example:
      type: "share_ext_content_raw"
      locale: "en-US"
      value:
        android.intent.extra.TEXT: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
        lat: 123.456
        long: -123.456
      timestamp: 1.574041714569E12
  SentryModeRequest:
    type: "object"
    properties:
      "on":
        type: "boolean"
    title: "Sentry Mode"
    example:
      "on": true
  MaxDefrostRequest:
    type: "object"
    properties:
      "on":
        type: "boolean"
    title: "Max Defrost"
    example:
      "on": true
  WindowControlRequest:
    type: "object"
    properties:
      lat:
        type: "number"
        format: "double"
      lon:
        type: "number"
        format: "double"
      command:
        type: "string"
        enum:
        - "vent"
        - "close"
    title: "Window Control"
    example:
      lat: 123.456
      lng: -123.456
      command: "vent"
  TriggerHomelinkRequest:
    type: "object"
    properties:
      lat:
        type: "number"
        format: "double"
      lon:
        type: "number"
        format: "double"
    title: "Trigger Homelink"
    example:
      lat: 123.456
      lng: -123.456
  GetVehiclesResponse:
    type: "object"
    required:
    - "count"
    - "response"
    properties:
      response:
        type: "array"
        items:
          $ref: "#/definitions/Vehicle"
      count:
        type: "integer"
        format: "int32"
        example: 1
        description: ""
    title: "List all Vehicles response"
    example:
      response:
      - id: 321
        option_codes: "MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013"
        user_id: 123
        vehicle_id: 1234567890
        vin: "5YJSA1CN5CFP01657"
        tokens:
        - "x"
        - "x"
        state: "online"
      count: 1
  Vehicle:
    properties:
      color:
        type: "string"
      display_name:
        type: "string"
      id_s:
        type: "string"
      option_codes:
        type: "string"
      vehicle_id:
        type: "string"
      vin:
        type: "string"
      tokens:
        type: "array"
        items:
          type: "string"
      state:
        type: "string"
  VehicleResponse:
    properties:
      response:
        $ref: "#/definitions/Vehicle"
  MobileAccessResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        type: "boolean"
        example: true
        description: ""
    title: "Mobile Access response"
    example:
      response: true
  ChargeStateResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/ChargeState"
    title: "Charge State response"
    example:
      response:
        battery_range: 2.3021358869347655
        scheduled_charging_pending: true
        charge_current_request: 9
        charge_energy_added: 4.145608029883936
        charging_state: "charging_state"
        max_range_charge_counter: 5
        user_charge_enable_request: true
        managed_charging_active: true
        charge_current_request_max: 9
        charge_port_door_open: true
        charge_miles_added_rated: 7.386281948385884
        charger_phases: 5
        charger_power: 7
        scheduled_charging_start_time: "scheduled_charging_start_time"
        charge_limit_soc: 0
        charge_port_latch: "charge_port_latch"
        est_battery_range: 7.061401241503109
        conn_charge_cable: "conn_charge_cable"
        timestamp: 8.7620420127490010742121739895083010196685791015625
        battery_level: 3
        charge_miles_added_ideal: 1.2315135367772556
        charger_pilot_current: 1
        charger_actual_current: 6
        usable_battery_level: 2
        fast_charger_present: true
        not_enough_power_to_heat: true
        fast_charger_type: "fast_charger_type"
        managed_charging_start_time: 6.683562403749608193948006373830139636993408203125
        trip_charging: true
        charge_rate: 4.965218492984954
        fast_charger_brand: "fast_charger_brand"
        charge_limit_soc_max: 5
        ideal_battery_range: 9.301444243932576
        charge_limit_soc_std: 6
        charger_voltage: 1
        managed_charging_user_canceled: true
        time_to_full_charge: 1.1730742509559433
        charge_to_max_range: true
        charge_limit_soc_min: 1
        battery_heater_on: true
        charge_enable_request: true
  ChargeState:
    type: "object"
    properties:
      charging_state:
        type: "string"
      fast_charger_type:
        type: "string"
      fast_charger_brand:
        type: "string"
      charge_limit_soc:
        type: "integer"
      charge_limit_soc_std:
        type: "integer"
      charge_limit_soc_min:
        type: "integer"
      charge_limit_soc_max:
        type: "integer"
      charge_to_max_range:
        type: "boolean"
      max_range_charge_counter:
        type: "integer"
      fast_charger_present:
        type: "boolean"
      battery_range:
        type: "number"
        format: "double"
      est_battery_range:
        type: "number"
        format: "double"
      ideal_battery_range:
        type: "number"
        format: "double"
      battery_level:
        type: "integer"
      usable_battery_level:
        type: "integer"
      charge_energy_added:
        type: "number"
        format: "double"
      charge_miles_added_rated:
        type: "number"
        format: "double"
      charge_miles_added_ideal:
        type: "number"
        format: "double"
      charger_voltage:
        type: "integer"
      charger_pilot_current:
        type: "integer"
      charger_actual_current:
        type: "integer"
      charger_power:
        type: "integer"
      time_to_full_charge:
        type: "number"
        format: "double"
      trip_charging:
        type: "boolean"
      charge_rate:
        type: "number"
        format: "double"
      charge_port_door_open:
        type: "boolean"
      conn_charge_cable:
        type: "string"
      scheduled_charging_start_time:
        type: "string"
      scheduled_charging_pending:
        type: "boolean"
      user_charge_enable_request:
        type: "boolean"
      charge_enable_request:
        type: "boolean"
      charger_phases:
        type: "integer"
      charge_port_latch:
        type: "string"
      charge_current_request:
        type: "integer"
      charge_current_request_max:
        type: "integer"
      managed_charging_active:
        type: "boolean"
      managed_charging_user_canceled:
        type: "boolean"
      managed_charging_start_time:
        type: "number"
        format: "long"
      battery_heater_on:
        type: "boolean"
      not_enough_power_to_heat:
        type: "boolean"
      timestamp:
        type: "number"
    example:
      battery_range: 2.3021358869347655
      scheduled_charging_pending: true
      charge_current_request: 9
      charge_energy_added: 4.145608029883936
      charging_state: "charging_state"
      max_range_charge_counter: 5
      user_charge_enable_request: true
      managed_charging_active: true
      charge_current_request_max: 9
      charge_port_door_open: true
      charge_miles_added_rated: 7.386281948385884
      charger_phases: 5
      charger_power: 7
      scheduled_charging_start_time: "scheduled_charging_start_time"
      charge_limit_soc: 0
      charge_port_latch: "charge_port_latch"
      est_battery_range: 7.061401241503109
      conn_charge_cable: "conn_charge_cable"
      timestamp: 8.7620420127490010742121739895083010196685791015625
      battery_level: 3
      charge_miles_added_ideal: 1.2315135367772556
      charger_pilot_current: 1
      charger_actual_current: 6
      usable_battery_level: 2
      fast_charger_present: true
      not_enough_power_to_heat: true
      fast_charger_type: "fast_charger_type"
      managed_charging_start_time: 6.683562403749608193948006373830139636993408203125
      trip_charging: true
      charge_rate: 4.965218492984954
      fast_charger_brand: "fast_charger_brand"
      charge_limit_soc_max: 5
      ideal_battery_range: 9.301444243932576
      charge_limit_soc_std: 6
      charger_voltage: 1
      managed_charging_user_canceled: true
      time_to_full_charge: 1.1730742509559433
      charge_to_max_range: true
      charge_limit_soc_min: 1
      battery_heater_on: true
      charge_enable_request: true
  ClimateSettingsResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/ClimateState"
    title: "Climate Settings response"
    example:
      response:
        is_auto_conditioning_on: true
        is_climate_on: true
        steering_wheel_heater: true
        outside_temp: 6.027456183070403
        min_avail_temp: 9
        max_avail_temp: 3
        seat_heater_rear_right_back: "seat_heater_rear_right_back"
        is_front_defroster_on: true
        wiper_blade_heater: true
        smart_preconditioning: true
        inside_temp: 0.8008281904610115
        seat_heater_rear_center: "seat_heater_rear_center"
        timestamp: 4.1456080298839363962315474054776132106781005859375
        driver_temp_setting: 1.4658129805029452
        battery_heater_no_power: true
        right_temp_direction: 2
        left_temp_direction: 5
        passenger_temp_setting: 5.962133916683182
        fan_status: 7
        is_rear_defroster_on: true
        seat_heater_rear_left: "seat_heater_rear_left"
        defrost_mode: 2
        seat_heater_rear_left_back: "seat_heater_rear_left_back"
        seat_heater_rear_right: "seat_heater_rear_right"
        side_mirror_heaters: true
        battery_heater: true
        seat_heater_right: "seat_heater_right"
        seat_heater_left: "seat_heater_left"
        is_preconditioning: true
  ClimateState:
    type: "object"
    properties:
      inside_temp:
        type: "number"
        format: "double"
      outside_temp:
        type: "number"
        format: "double"
      driver_temp_setting:
        type: "number"
        format: "double"
      passenger_temp_setting:
        type: "number"
        format: "double"
      left_temp_direction:
        type: "integer"
      right_temp_direction:
        type: "integer"
      is_front_defroster_on:
        type: "boolean"
      is_rear_defroster_on:
        type: "boolean"
      fan_status:
        type: "integer"
      is_climate_on:
        type: "boolean"
      min_avail_temp:
        type: "integer"
      max_avail_temp:
        type: "integer"
      seat_heater_left:
        type: "string"
      seat_heater_right:
        type: "string"
      seat_heater_rear_left:
        type: "string"
      seat_heater_rear_right:
        type: "string"
      seat_heater_rear_center:
        type: "string"
      seat_heater_rear_right_back:
        type: "string"
      seat_heater_rear_left_back:
        type: "string"
      battery_heater:
        type: "boolean"
      battery_heater_no_power:
        type: "boolean"
      steering_wheel_heater:
        type: "boolean"
      wiper_blade_heater:
        type: "boolean"
      side_mirror_heaters:
        type: "boolean"
      is_preconditioning:
        type: "boolean"
      smart_preconditioning:
        type: "boolean"
      is_auto_conditioning_on:
        type: "boolean"
      defrost_mode:
        type: "integer"
      timestamp:
        type: "number"
    example:
      is_auto_conditioning_on: true
      is_climate_on: true
      steering_wheel_heater: true
      outside_temp: 6.027456183070403
      min_avail_temp: 9
      max_avail_temp: 3
      seat_heater_rear_right_back: "seat_heater_rear_right_back"
      is_front_defroster_on: true
      wiper_blade_heater: true
      smart_preconditioning: true
      inside_temp: 0.8008281904610115
      seat_heater_rear_center: "seat_heater_rear_center"
      timestamp: 4.1456080298839363962315474054776132106781005859375
      driver_temp_setting: 1.4658129805029452
      battery_heater_no_power: true
      right_temp_direction: 2
      left_temp_direction: 5
      passenger_temp_setting: 5.962133916683182
      fan_status: 7
      is_rear_defroster_on: true
      seat_heater_rear_left: "seat_heater_rear_left"
      defrost_mode: 2
      seat_heater_rear_left_back: "seat_heater_rear_left_back"
      seat_heater_rear_right: "seat_heater_rear_right"
      side_mirror_heaters: true
      battery_heater: true
      seat_heater_right: "seat_heater_right"
      seat_heater_left: "seat_heater_left"
      is_preconditioning: true
  DriveStateResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/DriveState"
    title: "Driving and Position response"
    example:
      response:
        shift_state: "shift_state"
        native_type: "native_type"
        heading: 5
        native_latitude: 9.301444243932576
        native_location_supported: 7
        latitude: 1.4658129805029452
        power: 6.027456183070403
        native_longitude: 3.616076749251911
        speed: 0.8008281904610115
        gps_as_of: 2.3021358869347654518833223846741020679473876953125
        longitude: 5.962133916683182
        timestamp: 2.027123023002321833274663731572218239307403564453125
  DriveState:
    type: "object"
    properties:
      shift_state:
        type: "string"
      speed:
        type: "number"
        format: "double"
      power:
        type: "number"
        format: "double"
      latitude:
        type: "number"
        format: "double"
      longitude:
        type: "number"
        format: "double"
      heading:
        type: "integer"
      gps_as_of:
        type: "number"
      native_location_supported:
        type: "integer"
      native_latitude:
        type: "number"
        format: "double"
      native_longitude:
        type: "number"
        format: "double"
      native_type:
        type: "string"
      timestamp:
        type: "number"
    example:
      shift_state: "shift_state"
      native_type: "native_type"
      heading: 5
      native_latitude: 9.301444243932576
      native_location_supported: 7
      latitude: 1.4658129805029452
      power: 6.027456183070403
      native_longitude: 3.616076749251911
      speed: 0.8008281904610115
      gps_as_of: 2.3021358869347654518833223846741020679473876953125
      longitude: 5.962133916683182
      timestamp: 2.027123023002321833274663731572218239307403564453125
  GuistateResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/GuiState"
    title: "GUI Settings response"
    example:
      response:
        gui_distance_units: "gui_distance_units"
        gui_range_display: "gui_range_display"
        gui_24_hour_time: true
        gui_charge_rate_units: "gui_charge_rate_units"
        gui_temperature_units: "gui_temperature_units"
        timestamp: 0.80082819046101150206595775671303272247314453125
  GuiState:
    type: "object"
    properties:
      gui_distance_units:
        type: "string"
      gui_temperature_units:
        type: "string"
      gui_charge_rate_units:
        type: "string"
      gui_24_hour_time:
        type: "boolean"
      gui_range_display:
        type: "string"
      timestamp:
        type: "number"
    example:
      gui_distance_units: "gui_distance_units"
      gui_range_display: "gui_range_display"
      gui_24_hour_time: true
      gui_charge_rate_units: "gui_charge_rate_units"
      gui_temperature_units: "gui_temperature_units"
      timestamp: 0.80082819046101150206595775671303272247314453125
  VehicleStateResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/VehicleState"
    title: "Vehicle State response"
    example:
      response:
        autopark_style: "autopark_style"
        df: 1
        pr: 9
        rt: 3
        fp_window: 4
        dr: 5
        ft: 5
        valet_mode: true
        autopark_state_v2: "autopark_state_v2"
        sun_roof_percent_open: 1
        homelink_nearby: true
        notifications_supported: true
        sentry_mode: true
        locked: true
        parsed_calendar_supported: true
        timestamp: 1.024645700144157789424070870154537260532379150390625
        autopark_state: "autopark_state"
        media_state:
          remote_control_enabled: true
        odometer: 2.3021358869347655
        fd_window: 1
        remote_start: true
        sun_roof_state: "sun_roof_state"
        rp_window: 9
        speed_limit_mode:
          current_limit_mph: 1.4894159098541704
          pin_code_set: true
          active: true
          max_limit_mph: 6.84685269835264
          min_limit_mph: 7.457744773683766
        last_autopark_error: "last_autopark_error"
        api_version: 0
        remote_start_supported: true
        car_version: "car_version"
        software_update:
          install_perc: 7
          download_perc: 4
          version: "version"
          expected_duration_sec: 2
          status: "status"
        center_display_state: 6
        homelink_device_count: 5
        pf: 7
        rd_window: 9
        calendar_supported: true
        vehicle_name: "vehicle_name"
  VehicleState:
    type: "object"
    properties:
      api_version:
        type: "integer"
      autopark_state:
        type: "string"
      autopark_state_v2:
        type: "string"
      autopark_style:
        type: "string"
      calendar_supported:
        type: "boolean"
      car_version:
        type: "string"
      center_display_state:
        type: "integer"
      df:
        type: "integer"
      dr:
        type: "integer"
      ft:
        type: "integer"
      homelink_nearby:
        type: "boolean"
      last_autopark_error:
        type: "string"
      locked:
        type: "boolean"
      media_state:
        $ref: "#/definitions/VehicleState_media_state"
      notifications_supported:
        type: "boolean"
      odometer:
        type: "number"
        format: "double"
      parsed_calendar_supported:
        type: "boolean"
      pf:
        type: "integer"
      pr:
        type: "integer"
      remote_start:
        type: "boolean"
      remote_start_supported:
        type: "boolean"
      rt:
        type: "integer"
      sentry_mode:
        type: "boolean"
      software_update:
        $ref: "#/definitions/VehicleState_software_update"
      sun_roof_percent_open:
        type: "integer"
      sun_roof_state:
        type: "string"
      timestamp:
        type: "number"
      valet_mode:
        type: "boolean"
      vehicle_name:
        type: "string"
      speed_limit_mode:
        $ref: "#/definitions/VehicleState_speed_limit_mode"
      fd_window:
        type: "integer"
      fp_window:
        type: "integer"
      homelink_device_count:
        type: "integer"
      rd_window:
        type: "integer"
      rp_window:
        type: "integer"
    example:
      autopark_style: "autopark_style"
      df: 1
      pr: 9
      rt: 3
      fp_window: 4
      dr: 5
      ft: 5
      valet_mode: true
      autopark_state_v2: "autopark_state_v2"
      sun_roof_percent_open: 1
      homelink_nearby: true
      notifications_supported: true
      sentry_mode: true
      locked: true
      parsed_calendar_supported: true
      timestamp: 1.024645700144157789424070870154537260532379150390625
      autopark_state: "autopark_state"
      media_state:
        remote_control_enabled: true
      odometer: 2.3021358869347655
      fd_window: 1
      remote_start: true
      sun_roof_state: "sun_roof_state"
      rp_window: 9
      speed_limit_mode:
        current_limit_mph: 1.4894159098541704
        pin_code_set: true
        active: true
        max_limit_mph: 6.84685269835264
        min_limit_mph: 7.457744773683766
      last_autopark_error: "last_autopark_error"
      api_version: 0
      remote_start_supported: true
      car_version: "car_version"
      software_update:
        install_perc: 7
        download_perc: 4
        version: "version"
        expected_duration_sec: 2
        status: "status"
      center_display_state: 6
      homelink_device_count: 5
      pf: 7
      rd_window: 9
      calendar_supported: true
      vehicle_name: "vehicle_name"
  VehicleConfigResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/VehicleConfig"
    title: "Vehicle Config response"
    example:
      response:
        seat_type: 1.46581298050294517310021547018550336360931396484375
        trim_badging: "trim_badging"
        rear_seat_heaters: 0.80082819046101150206595775671303272247314453125
        car_special_type: "car_special_type"
        spoiler_type: "spoiler_type"
        third_row_seats: "third_row_seats"
        wheel_type: "wheel_type"
        has_ludicrous_mode: true
        plg: true
        rear_seat_type: 6.02745618307040320615897144307382404804229736328125
        charge_port_type: "charge_port_type"
        eu_vehicle: true
        car_type: "car_type"
        rhd: true
        perf_config: "perf_config"
        exterior_color: "exterior_color"
        sun_roof_installed: 5.962133916683182377482808078639209270477294921875
        can_actuate_trunks: true
        roof_color: "roof_color"
        can_accept_navigation_requests: true
        motorized_charge_port: true
        timestamp: 5.63737665663332876420099637471139430999755859375
  VehicleConfig:
    type: "object"
    properties:
      can_actuate_trunks:
        type: "boolean"
      can_accept_navigation_requests:
        type: "boolean"
      car_special_type:
        type: "string"
      car_type:
        type: "string"
      charge_port_type:
        type: "string"
      eu_vehicle:
        type: "boolean"
      exterior_color:
        type: "string"
      has_ludicrous_mode:
        type: "boolean"
      motorized_charge_port:
        type: "boolean"
      perf_config:
        type: "string"
      plg:
        type: "boolean"
      rear_seat_heaters:
        type: "number"
      rear_seat_type:
        type: "number"
      rhd:
        type: "boolean"
      roof_color:
        type: "string"
      seat_type:
        type: "number"
      spoiler_type:
        type: "string"
      sun_roof_installed:
        type: "number"
      third_row_seats:
        type: "string"
      timestamp:
        type: "number"
      trim_badging:
        type: "string"
      wheel_type:
        type: "string"
    example:
      seat_type: 1.46581298050294517310021547018550336360931396484375
      trim_badging: "trim_badging"
      rear_seat_heaters: 0.80082819046101150206595775671303272247314453125
      car_special_type: "car_special_type"
      spoiler_type: "spoiler_type"
      third_row_seats: "third_row_seats"
      wheel_type: "wheel_type"
      has_ludicrous_mode: true
      plg: true
      rear_seat_type: 6.02745618307040320615897144307382404804229736328125
      charge_port_type: "charge_port_type"
      eu_vehicle: true
      car_type: "car_type"
      rhd: true
      perf_config: "perf_config"
      exterior_color: "exterior_color"
      sun_roof_installed: 5.962133916683182377482808078639209270477294921875
      can_actuate_trunks: true
      roof_color: "roof_color"
      can_accept_navigation_requests: true
      motorized_charge_port: true
      timestamp: 5.63737665663332876420099637471139430999755859375
  VehicleDataResponse:
    type: "object"
    properties:
      response:
        $ref: "#/definitions/VehicleDataResponse_response"
    title: "Vehicle Data Response"
    example:
      response:
        in_service: true
        gui_settings:
          gui_distance_units: "gui_distance_units"
          gui_range_display: "gui_range_display"
          gui_24_hour_time: true
          gui_charge_rate_units: "gui_charge_rate_units"
          gui_temperature_units: "gui_temperature_units"
          timestamp: 0.80082819046101150206595775671303272247314453125
        color: "color"
        vehicle_config:
          seat_type: 1.46581298050294517310021547018550336360931396484375
          trim_badging: "trim_badging"
          rear_seat_heaters: 0.80082819046101150206595775671303272247314453125
          car_special_type: "car_special_type"
          spoiler_type: "spoiler_type"
          third_row_seats: "third_row_seats"
          wheel_type: "wheel_type"
          has_ludicrous_mode: true
          plg: true
          rear_seat_type: 6.02745618307040320615897144307382404804229736328125
          charge_port_type: "charge_port_type"
          eu_vehicle: true
          car_type: "car_type"
          rhd: true
          perf_config: "perf_config"
          exterior_color: "exterior_color"
          sun_roof_installed: 5.962133916683182377482808078639209270477294921875
          can_actuate_trunks: true
          roof_color: "roof_color"
          can_accept_navigation_requests: true
          motorized_charge_port: true
          timestamp: 5.63737665663332876420099637471139430999755859375
        calendar_enabled: true
        vehicle_state:
          autopark_style: "autopark_style"
          df: 1
          pr: 9
          rt: 3
          fp_window: 4
          dr: 5
          ft: 5
          valet_mode: true
          autopark_state_v2: "autopark_state_v2"
          sun_roof_percent_open: 1
          homelink_nearby: true
          notifications_supported: true
          sentry_mode: true
          locked: true
          parsed_calendar_supported: true
          timestamp: 1.024645700144157789424070870154537260532379150390625
          autopark_state: "autopark_state"
          media_state:
            remote_control_enabled: true
          odometer: 2.3021358869347655
          fd_window: 1
          remote_start: true
          sun_roof_state: "sun_roof_state"
          rp_window: 9
          speed_limit_mode:
            current_limit_mph: 1.4894159098541704
            pin_code_set: true
            active: true
            max_limit_mph: 6.84685269835264
            min_limit_mph: 7.457744773683766
          last_autopark_error: "last_autopark_error"
          api_version: 0
          remote_start_supported: true
          car_version: "car_version"
          software_update:
            install_perc: 7
            download_perc: 4
            version: "version"
            expected_duration_sec: 2
            status: "status"
          center_display_state: 6
          homelink_device_count: 5
          pf: 7
          rd_window: 9
          calendar_supported: true
          vehicle_name: "vehicle_name"
        display_name: "display_name"
        backseat_token: "backseat_token"
        backseat_token_updated_at: 6.02745618307040320615897144307382404804229736328125
        user_id: 0.80082819046101150206595775671303272247314453125
        climate_state:
          is_auto_conditioning_on: true
          is_climate_on: true
          steering_wheel_heater: true
          outside_temp: 6.027456183070403
          min_avail_temp: 9
          max_avail_temp: 3
          seat_heater_rear_right_back: "seat_heater_rear_right_back"
          is_front_defroster_on: true
          wiper_blade_heater: true
          smart_preconditioning: true
          inside_temp: 0.8008281904610115
          seat_heater_rear_center: "seat_heater_rear_center"
          timestamp: 4.1456080298839363962315474054776132106781005859375
          driver_temp_setting: 1.4658129805029452
          battery_heater_no_power: true
          right_temp_direction: 2
          left_temp_direction: 5
          passenger_temp_setting: 5.962133916683182
          fan_status: 7
          is_rear_defroster_on: true
          seat_heater_rear_left: "seat_heater_rear_left"
          defrost_mode: 2
          seat_heater_rear_left_back: "seat_heater_rear_left_back"
          seat_heater_rear_right: "seat_heater_rear_right"
          side_mirror_heaters: true
          battery_heater: true
          seat_heater_right: "seat_heater_right"
          seat_heater_left: "seat_heater_left"
          is_preconditioning: true
        charge_state:
          battery_range: 2.3021358869347655
          scheduled_charging_pending: true
          charge_current_request: 9
          charge_energy_added: 4.145608029883936
          charging_state: "charging_state"
          max_range_charge_counter: 5
          user_charge_enable_request: true
          managed_charging_active: true
          charge_current_request_max: 9
          charge_port_door_open: true
          charge_miles_added_rated: 7.386281948385884
          charger_phases: 5
          charger_power: 7
          scheduled_charging_start_time: "scheduled_charging_start_time"
          charge_limit_soc: 0
          charge_port_latch: "charge_port_latch"
          est_battery_range: 7.061401241503109
          conn_charge_cable: "conn_charge_cable"
          timestamp: 8.7620420127490010742121739895083010196685791015625
          battery_level: 3
          charge_miles_added_ideal: 1.2315135367772556
          charger_pilot_current: 1
          charger_actual_current: 6
          usable_battery_level: 2
          fast_charger_present: true
          not_enough_power_to_heat: true
          fast_charger_type: "fast_charger_type"
          managed_charging_start_time: 6.683562403749608193948006373830139636993408203125
          trip_charging: true
          charge_rate: 4.965218492984954
          fast_charger_brand: "fast_charger_brand"
          charge_limit_soc_max: 5
          ideal_battery_range: 9.301444243932576
          charge_limit_soc_std: 6
          charger_voltage: 1
          managed_charging_user_canceled: true
          time_to_full_charge: 1.1730742509559433
          charge_to_max_range: true
          charge_limit_soc_min: 1
          battery_heater_on: true
          charge_enable_request: true
        vin: "vin"
        tokens:
        - "tokens"
        - "tokens"
        id: "id"
        state: "state"
        option_codes: "option_codes"
        vehicle_id: "vehicle_id"
        id_s: "id_s"
        drive_state:
          shift_state: "shift_state"
          native_type: "native_type"
          heading: 5
          native_latitude: 9.301444243932576
          native_location_supported: 7
          latitude: 1.4658129805029452
          power: 6.027456183070403
          native_longitude: 3.616076749251911
          speed: 0.8008281904610115
          gps_as_of: 2.3021358869347654518833223846741020679473876953125
          longitude: 5.962133916683182
          timestamp: 2.027123023002321833274663731572218239307403564453125
  WakeUpResponse:
    type: "object"
    properties:
      response:
        $ref: "#/definitions/WakeUpResponse_response"
    title: "Wake Up Response"
    example:
      response:
        in_service: true
        color: "color"
        calendar_enabled: true
        display_name: "display_name"
        api_version: "api_version"
        backseat_token: "backseat_token"
        backseat_token_updated_at: 1.46581298050294517310021547018550336360931396484375
        user_id: 0.80082819046101150206595775671303272247314453125
        vin: "vin"
        tokens:
        - "tokens"
        - "tokens"
        state: "state"
        id: "id"
        vehicle_id: 6.02745618307040320615897144307382404804229736328125
        option_codes: "option_codes"
  CommandResponse:
    type: "object"
    required:
    - "response"
    properties:
      response:
        $ref: "#/definitions/CommandResponse_response"
    title: "CommandResponse"
    example:
      response:
        result: true
        reason: "reason"
  NearbyChargerResponse:
    type: "object"
    properties:
      response:
        $ref: "#/definitions/NearbyChargerResponse_response"
    title: "NearbyChargerResponse"
    example:
      response:
        congestion_sync_time_utc_secs: 0.80082819046101150206595775671303272247314453125
        superchargers:
        - available_stalls: 2.3021358869347654518833223846741020679473876953125
          total_stalls: 7.061401241503109105224211816675961017608642578125
          distance_miles: 5.637376656633329
          name: "name"
          location:
            lat: 6.027456183070403
            long: 1.4658129805029452
          type: "supercharger"
          site_closed: true
        - available_stalls: 2.3021358869347654518833223846741020679473876953125
          total_stalls: 7.061401241503109105224211816675961017608642578125
          distance_miles: 5.637376656633329
          name: "name"
          location:
            lat: 6.027456183070403
            long: 1.4658129805029452
          type: "supercharger"
          site_closed: true
        destination_charging:
        - distance_miles: 5.962133916683182
          name: "name"
          location:
            lat: 6.027456183070403
            long: 1.4658129805029452
          type: "destination"
        - distance_miles: 5.962133916683182
          name: "name"
          location:
            lat: 6.027456183070403
            long: 1.4658129805029452
          type: "destination"
  DestinationCharger:
    type: "object"
    properties:
      location:
        $ref: "#/definitions/DestinationCharger_location"
      name:
        type: "string"
      type:
        type: "string"
        default: "destination"
      distance_miles:
        type: "number"
        format: "double"
    title: "DestinationCharger"
    example:
      distance_miles: 5.962133916683182
      name: "name"
      location:
        lat: 6.027456183070403
        long: 1.4658129805029452
      type: "destination"
  Supercharger:
    type: "object"
    properties:
      location:
        $ref: "#/definitions/DestinationCharger_location"
      name:
        type: "string"
      type:
        type: "string"
        default: "supercharger"
      distance_miles:
        type: "number"
        format: "double"
      available_stalls:
        type: "number"
      total_stalls:
        type: "number"
      site_closed:
        type: "boolean"
    title: "Supercharger"
    example:
      available_stalls: 2.3021358869347654518833223846741020679473876953125
      total_stalls: 7.061401241503109105224211816675961017608642578125
      distance_miles: 5.637376656633329
      name: "name"
      location:
        lat: 6.027456183070403
        long: 1.4658129805029452
      type: "supercharger"
      site_closed: true
  State:
    type: "string"
    title: "state"
    example: "open"
    enum:
    - "open"
    - "close"
    - "comfort"
    - "vent"
    - "move"
    x-enum-elements:
    - name: "open"
      description: ""
    - name: "close"
      description: ""
    - name: "comfort"
      description: ""
    - name: "vent"
      description: ""
    - name: "move"
      description: ""
  NavigationRequestRequest_value:
    type: "object"
    properties:
      android.intent.extra.TEXT:
        type: "string"
        example: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
        description: "Must match this syntax \"DATA_TO_SEND_TO_NAV_SYSTEM\\n\\nhttps://goo.gl/maps/X\""
    example:
      android.intent.extra.TEXT: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
  ShareRequest_value:
    type: "object"
    properties:
      android.intent.extra.TEXT:
        type: "string"
        example: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
        description: "Must match this syntax \"DATA_TO_SEND_TO_NAV_SYSTEM\\n\\nhttps://goo.gl/maps/X\""
      lat:
        type: "number"
        format: "double"
        example: 123.456
        description: "Latitude of destination to send. Only send with 'long'"
      long:
        type: "number"
        format: "double"
        example: -123.456
        description: "Longitude of destination to send. Only send with 'lat'"
    example:
      android.intent.extra.TEXT: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
      lat: 123.456
      long: -123.456
  VehicleState_media_state:
    type: "object"
    properties:
      remote_control_enabled:
        type: "boolean"
    example:
      remote_control_enabled: true
  VehicleState_software_update:
    type: "object"
    properties:
      expected_duration_sec:
        type: "integer"
      status:
        type: "string"
      download_perc:
        type: "integer"
      install_perc:
        type: "integer"
      version:
        type: "string"
    example:
      install_perc: 7
      download_perc: 4
      version: "version"
      expected_duration_sec: 2
      status: "status"
  VehicleState_speed_limit_mode:
    type: "object"
    properties:
      active:
        type: "boolean"
      current_limit_mph:
        type: "number"
        format: "double"
      max_limit_mph:
        type: "number"
        format: "double"
      min_limit_mph:
        type: "number"
        format: "double"
      pin_code_set:
        type: "boolean"
    example:
      current_limit_mph: 1.4894159098541704
      pin_code_set: true
      active: true
      max_limit_mph: 6.84685269835264
      min_limit_mph: 7.457744773683766
  VehicleDataResponse_response:
    type: "object"
    properties:
      color:
        type: "string"
      display_name:
        type: "string"
      id:
        type: "string"
      option_codes:
        type: "string"
      vehicle_id:
        type: "string"
      vin:
        type: "string"
      user_id:
        type: "number"
      tokens:
        type: "array"
        items:
          type: "string"
      state:
        type: "string"
      in_service:
        type: "boolean"
      id_s:
        type: "string"
      calendar_enabled:
        type: "boolean"
      backseat_token:
        type: "string"
      backseat_token_updated_at:
        type: "number"
      gui_settings:
        $ref: "#/definitions/GuiState"
      climate_state:
        $ref: "#/definitions/ClimateState"
      drive_state:
        $ref: "#/definitions/DriveState"
      vehicle_state:
        $ref: "#/definitions/VehicleState"
      charge_state:
        $ref: "#/definitions/ChargeState"
      vehicle_config:
        $ref: "#/definitions/VehicleConfig"
    example:
      in_service: true
      gui_settings:
        gui_distance_units: "gui_distance_units"
        gui_range_display: "gui_range_display"
        gui_24_hour_time: true
        gui_charge_rate_units: "gui_charge_rate_units"
        gui_temperature_units: "gui_temperature_units"
        timestamp: 0.80082819046101150206595775671303272247314453125
      color: "color"
      vehicle_config:
        seat_type: 1.46581298050294517310021547018550336360931396484375
        trim_badging: "trim_badging"
        rear_seat_heaters: 0.80082819046101150206595775671303272247314453125
        car_special_type: "car_special_type"
        spoiler_type: "spoiler_type"
        third_row_seats: "third_row_seats"
        wheel_type: "wheel_type"
        has_ludicrous_mode: true
        plg: true
        rear_seat_type: 6.02745618307040320615897144307382404804229736328125
        charge_port_type: "charge_port_type"
        eu_vehicle: true
        car_type: "car_type"
        rhd: true
        perf_config: "perf_config"
        exterior_color: "exterior_color"
        sun_roof_installed: 5.962133916683182377482808078639209270477294921875
        can_actuate_trunks: true
        roof_color: "roof_color"
        can_accept_navigation_requests: true
        motorized_charge_port: true
        timestamp: 5.63737665663332876420099637471139430999755859375
      calendar_enabled: true
      vehicle_state:
        autopark_style: "autopark_style"
        df: 1
        pr: 9
        rt: 3
        fp_window: 4
        dr: 5
        ft: 5
        valet_mode: true
        autopark_state_v2: "autopark_state_v2"
        sun_roof_percent_open: 1
        homelink_nearby: true
        notifications_supported: true
        sentry_mode: true
        locked: true
        parsed_calendar_supported: true
        timestamp: 1.024645700144157789424070870154537260532379150390625
        autopark_state: "autopark_state"
        media_state:
          remote_control_enabled: true
        odometer: 2.3021358869347655
        fd_window: 1
        remote_start: true
        sun_roof_state: "sun_roof_state"
        rp_window: 9
        speed_limit_mode:
          current_limit_mph: 1.4894159098541704
          pin_code_set: true
          active: true
          max_limit_mph: 6.84685269835264
          min_limit_mph: 7.457744773683766
        last_autopark_error: "last_autopark_error"
        api_version: 0
        remote_start_supported: true
        car_version: "car_version"
        software_update:
          install_perc: 7
          download_perc: 4
          version: "version"
          expected_duration_sec: 2
          status: "status"
        center_display_state: 6
        homelink_device_count: 5
        pf: 7
        rd_window: 9
        calendar_supported: true
        vehicle_name: "vehicle_name"
      display_name: "display_name"
      backseat_token: "backseat_token"
      backseat_token_updated_at: 6.02745618307040320615897144307382404804229736328125
      user_id: 0.80082819046101150206595775671303272247314453125
      climate_state:
        is_auto_conditioning_on: true
        is_climate_on: true
        steering_wheel_heater: true
        outside_temp: 6.027456183070403
        min_avail_temp: 9
        max_avail_temp: 3
        seat_heater_rear_right_back: "seat_heater_rear_right_back"
        is_front_defroster_on: true
        wiper_blade_heater: true
        smart_preconditioning: true
        inside_temp: 0.8008281904610115
        seat_heater_rear_center: "seat_heater_rear_center"
        timestamp: 4.1456080298839363962315474054776132106781005859375
        driver_temp_setting: 1.4658129805029452
        battery_heater_no_power: true
        right_temp_direction: 2
        left_temp_direction: 5
        passenger_temp_setting: 5.962133916683182
        fan_status: 7
        is_rear_defroster_on: true
        seat_heater_rear_left: "seat_heater_rear_left"
        defrost_mode: 2
        seat_heater_rear_left_back: "seat_heater_rear_left_back"
        seat_heater_rear_right: "seat_heater_rear_right"
        side_mirror_heaters: true
        battery_heater: true
        seat_heater_right: "seat_heater_right"
        seat_heater_left: "seat_heater_left"
        is_preconditioning: true
      charge_state:
        battery_range: 2.3021358869347655
        scheduled_charging_pending: true
        charge_current_request: 9
        charge_energy_added: 4.145608029883936
        charging_state: "charging_state"
        max_range_charge_counter: 5
        user_charge_enable_request: true
        managed_charging_active: true
        charge_current_request_max: 9
        charge_port_door_open: true
        charge_miles_added_rated: 7.386281948385884
        charger_phases: 5
        charger_power: 7
        scheduled_charging_start_time: "scheduled_charging_start_time"
        charge_limit_soc: 0
        charge_port_latch: "charge_port_latch"
        est_battery_range: 7.061401241503109
        conn_charge_cable: "conn_charge_cable"
        timestamp: 8.7620420127490010742121739895083010196685791015625
        battery_level: 3
        charge_miles_added_ideal: 1.2315135367772556
        charger_pilot_current: 1
        charger_actual_current: 6
        usable_battery_level: 2
        fast_charger_present: true
        not_enough_power_to_heat: true
        fast_charger_type: "fast_charger_type"
        managed_charging_start_time: 6.683562403749608193948006373830139636993408203125
        trip_charging: true
        charge_rate: 4.965218492984954
        fast_charger_brand: "fast_charger_brand"
        charge_limit_soc_max: 5
        ideal_battery_range: 9.301444243932576
        charge_limit_soc_std: 6
        charger_voltage: 1
        managed_charging_user_canceled: true
        time_to_full_charge: 1.1730742509559433
        charge_to_max_range: true
        charge_limit_soc_min: 1
        battery_heater_on: true
        charge_enable_request: true
      vin: "vin"
      tokens:
      - "tokens"
      - "tokens"
      id: "id"
      state: "state"
      option_codes: "option_codes"
      vehicle_id: "vehicle_id"
      id_s: "id_s"
      drive_state:
        shift_state: "shift_state"
        native_type: "native_type"
        heading: 5
        native_latitude: 9.301444243932576
        native_location_supported: 7
        latitude: 1.4658129805029452
        power: 6.027456183070403
        native_longitude: 3.616076749251911
        speed: 0.8008281904610115
        gps_as_of: 2.3021358869347654518833223846741020679473876953125
        longitude: 5.962133916683182
        timestamp: 2.027123023002321833274663731572218239307403564453125
  WakeUpResponse_response:
    type: "object"
    properties:
      user_id:
        type: "number"
      vehicle_id:
        type: "number"
      vin:
        type: "string"
      display_name:
        type: "string"
      option_codes:
        type: "string"
      color:
        type: "string"
      tokens:
        type: "array"
        items:
          type: "string"
      state:
        type: "string"
      in_service:
        type: "boolean"
      id:
        type: "string"
      calendar_enabled:
        type: "boolean"
      api_version:
        type: "string"
      backseat_token:
        type: "string"
      backseat_token_updated_at:
        type: "number"
    example:
      in_service: true
      color: "color"
      calendar_enabled: true
      display_name: "display_name"
      api_version: "api_version"
      backseat_token: "backseat_token"
      backseat_token_updated_at: 1.46581298050294517310021547018550336360931396484375
      user_id: 0.80082819046101150206595775671303272247314453125
      vin: "vin"
      tokens:
      - "tokens"
      - "tokens"
      state: "state"
      id: "id"
      vehicle_id: 6.02745618307040320615897144307382404804229736328125
      option_codes: "option_codes"
  CommandResponse_response:
    type: "object"
    properties:
      result:
        type: "boolean"
      reason:
        type: "string"
    description: ""
    example:
      result: true
      reason: "reason"
  NearbyChargerResponse_response:
    type: "object"
    properties:
      congestion_sync_time_utc_secs:
        type: "number"
      destination_charging:
        type: "array"
        items:
          $ref: "#/definitions/DestinationCharger"
      superchargers:
        type: "array"
        items:
          $ref: "#/definitions/Supercharger"
    example:
      congestion_sync_time_utc_secs: 0.80082819046101150206595775671303272247314453125
      superchargers:
      - available_stalls: 2.3021358869347654518833223846741020679473876953125
        total_stalls: 7.061401241503109105224211816675961017608642578125
        distance_miles: 5.637376656633329
        name: "name"
        location:
          lat: 6.027456183070403
          long: 1.4658129805029452
        type: "supercharger"
        site_closed: true
      - available_stalls: 2.3021358869347654518833223846741020679473876953125
        total_stalls: 7.061401241503109105224211816675961017608642578125
        distance_miles: 5.637376656633329
        name: "name"
        location:
          lat: 6.027456183070403
          long: 1.4658129805029452
        type: "supercharger"
        site_closed: true
      destination_charging:
      - distance_miles: 5.962133916683182
        name: "name"
        location:
          lat: 6.027456183070403
          long: 1.4658129805029452
        type: "destination"
      - distance_miles: 5.962133916683182
        name: "name"
        location:
          lat: 6.027456183070403
          long: 1.4658129805029452
        type: "destination"
  DestinationCharger_location:
    type: "object"
    properties:
      lat:
        type: "number"
        format: "double"
      long:
        type: "number"
        format: "double"
    example:
      lat: 6.027456183070403
      long: 1.4658129805029452
